.news-item {
  border-top: thin solid gray;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.4rem;
  margin-right: 0.2rem;

  padding-top: 0.7rem;
	word-wrap: break-word;

  i {
    margin-right:0.3rem;
    color: blue;
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: column;

    .detail-image {
      flex-grow: 0;
    }
  }
}
